@model EM.Calc.Web.Models.InputModel

@{
    ViewBag.Title = "Input";
}

<h2>Давайте посчитаем</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OperationName, htmlAttributes: new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.DropDownList("OperationName", new SelectList(Model.Operations.Select(op => op.Name)))
                @*@Html.EditorFor(model => model.OperationName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.OperationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Args, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Args, "doubles")
                @Html.ValidationMessageFor(model => model.Args, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Рассчитать" class="btn btn-default" />
            </div>
        </div>
    </div>
}
